<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D2L.Services.Core.Extensions" version="1.1.1.0" targetFramework="net451" />
  <package id="D2L.Services.Core.TestFramework" version="3.1.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net451" />
  <package id="Npgsql" version="3.1.3" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>